aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.12
aiosignal==1.4.0
anyrun-sdk==1.9.7
attrs==25.3.0
certifi==2025.7.14
charset-normalizer==3.4.2
frozenlist==1.7.0
idna==3.10
loguru==0.7.3
multidict==6.6.3
propcache==0.3.2
python-dotenv==1.1.1
requests==2.32.4
typing_extensions==4.12.2
urllib3==2.5.0
yarl==1.20.1
